<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852554518025-h05dk58e118kmjp9eb3uc3jm6fgbj4a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852554518025-h05dk58e118kmjp9eb3uc3jm6fgbj4a8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852554518025-sk6k6iq4khftrfaro500thlbntefpr8u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4I8OIqLwRLIg59nCNZV73qUyFR8RXsqI</string>
	<key>GCM_SENDER_ID</key>
	<string>852554518025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hysatech.niblin</string>
	<key>PROJECT_ID</key>
	<string>niblin-app</string>
	<key>STORAGE_BUCKET</key>
	<string>niblin-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852554518025:ios:11a10f2e07c7a4182d32d8</string>
</dict>
</plist>